<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Intranet EDT</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <!-- Cabeçalho fixo -->
  <div id="headerTitle">Intranet EDT</div>

  <!-- Sidebar -->
  <div class="sidebar">
    <img src="static/logo 2.png" alt="Logo" class="logo">
    <button class="button" id="googleDriveLink">Google Drive</button>
    <button class="button" id="planejamentoBtn">Planejamento</button>
    <div id="planejamentoSubmenu" style="display: none;">
      <button class="button" id="planejamentoBIBtn">Planejamento BI</button>
      <button class="button" id="planejamentoPerfilBtn">Geração de perfil</button>
      <button class="button" id="planejamentoImportacoesBtn">Importações</button>
      <button class="button" id="hahVendasBtn">HAH Vendas</button>
    </div>
    <button class="button">Conteúdo informativo</button>
    <button class="button">Manuais</button>
    <button class="button" id="monitoriaBtn">Monitoria</button>
    <div id="monitoriaSubmenu" style="display: none;">
      <button class="button" id="monitoriaManuaisBtn">Manuais monitoria</button>
    </div>
    <div class="energy-of-todos">
      <a href="https://energiadetodos.com.br/" target="_blank">
        <img src="static/logo 3 inferior.png" alt="Energia de Todos">
      </a>
    </div>
  </div>

  <!-- Conteúdo Principal -->
  <div class="content">
    <div id="homeSliders"></div>
    <div id="loginMenu"></div>
    <div id="profileMenu"></div>
    <div id="driveSection"></div>
    <div id="planejamentoSection"></div>
    <div id="importacoesSection"></div>
    <div id="monitoriaManuaisSection"></div>
    <div id="hahVendasSection"></div>
  </div>

  <!-- Botões e Modal -->
  <button id="toggleSidebarBtn">Ocultar Sidebar</button>
  <div class="version">Versão 1.0.7</div>

  <div id="fullScreenModal"></div>
  <div id="versionModal"></div>
  <div id="containerImageModal"></div>

  <!-- Scripts -->
  <script src="scripts.js"></script>
</body>
</html>
